---
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import config from "@/config/config.json";
import CollectionsSlider from "@/functional-components/CollectionsSlider";
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import HeroSlider from "src/layouts/functional-components/HeroSlider";



// Datos de ejemplo. Puedes reemplazar estos datos con los productos reales.
const heroProducts = [
  {
    id: "1",
    title: "Mira nuestras siguientes ofertas",
    description: "THE NORTH FACE - Calidad y estilo para cualquier aventura",
    link: "/products/hugo", // Enlace al producto
    featuredImage: { url: "/images/hugo-boxfirenegro.webp" },
  },
  {
    id: "2",
    title: "Cont谩ctanos si tienes alguna consulta",
    description: "Ropa c贸moda y elegante para cada ocasi贸n",
    link: "/products/hugo", // Enlace al producto
    featuredImage: { url: "/images/hugo-boxlogorandom.webp" },
  },
 
  {
    id: "4",
    title: "隆Descuentos Exclusivos!",
    description: "Aprovecha hasta un 50% de descuento en productos seleccionados",
    link: "/products/gregor",
    featuredImage: { url: "/images/mcgregor/Mcgregor1.webp" },
  },
  {
    id: "5",
    title: "Accesorios Premium",
    description: "Complementa tu estilo con nuestra l铆nea exclusiva de accesorios",
    link: "/products/champion", // Enlace al producto
    featuredImage: { url: "/images/champion/Champion1.webp" },
  },
];

const collectionProducts = [
  {
    id: "1",
    title: "Polos Tommy H",
    brand: "Polos TOMMY H", // Marca del producto
    category: "hombre",    
    featuredImage: { url: "/images/polo_tom_fre.webp" },
    link: "/products/tommy-h",// Enlace al producto
  },

 
  {
    id: "2",
    title: "",
    brand: "Polos THE NORT FACE", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/THE_NORT_FACE1.avif" },  
    link: "/products/the-north-face", // Enlace al producto
  },
 
  
  {
    id: "3",
    title: "",
    brand: "Polos RL", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/RH1.webp" },
    link: "/products/PoloRl", // Enlace al producto
  },
  {
    id: "4",
    title: "",
    brand: "Polos HUGO", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/hugo/Hugo7.webp" },
    link: "/products/hugo", // Enlace al producto
  },

  {
    id: "5",
    title: "",
    brand: "Polos BURBERRY", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/burberry/burberry1.webp" },
    link: "/products/burberry", // Enlace al producto
  },

  {
    id: "6",
    title: "",
    brand: "Polos BOOS x GOAT X LEGEND", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/boss-goat-white2.webp" },  
    link: "/products/boos", // Enlace al producto
  },
  {
    id: "7",
    title: "",
    brand: "Polos ADIDAS", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/adidas/adidas1.webp" },  
    link: "/products/adidas", // Enlace al producto
  },
  
  {
    id: "8",
    title: "",
    brand: "Polos Columbia", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/columbia1.webp" },
    link: "/products/columbia", // Enlace al producto
  },
  
  {
    id: "9",
    title: "",
    brand: "Polos SUPREME", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/supreme3.webp" },  
    link: "/products/supreme", // Enlace al producto
  },
  
  {
    id: "10",
    title: "",
    brand: "Polos LACOSTE", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/lacoste1.webp" },  
    link: "/products/LaCoste", // Enlace al producto
  },

  {
    id: "11",
    title: "",
    brand: "Polos CHAMPION", // Marca del producto
    category: "hombre",  
    featuredImage: { url: "/images/champion/Champion1.webp" },  
    link: "/products/champion", // Enlace al producto
  },
  
  
  //  **Nueva Secci贸n de Pantalones**  
  {
    id: "12",
    title: "Pantal贸n TH TOMMY",
    brand: "TH TOMMY",
    featuredImage: { url: "/images/TH1.webp" },
    link: "/products/TH",
  },
  {
    id: "13",
    title: "Pantal贸n PIONIER",
    brand: "PIONIER",
    featuredImage: { url: "/images/Pioner1.webp" },
    link: "/products/Pioner",
  },
  {
    id: "14",
    title: "Pantal贸n Levis",
    brand: "LEVIS",
    featuredImage: { url: "/images/LEVIS1.webp" },
    link: "/products/Levis",
  },
  {
    id: "15",
    title: "Pantal贸n Cat",
    brand: "CAT",
    featuredImage: { url: "/images/CAT1.webp" },
    link: "/products/Cat",
  },

  {
    id: "16",
    title: "Pantal贸n Lee",
    brand: "LEE",
    featuredImage: { url: "/images/lee/lee1.webp" },
    link: "/products/lee",
  },

  {
    id: "17",
    title: "Pantal贸n McGregor",
    brand: "McGregor",
    featuredImage: { url: "/images/mcgregor/Mcgregor1.webp" },
    link: "/products/gregor",
  },

  {
    id: "18",
    title: "Pantal贸n Adidas",
    brand: "Adidas",
    featuredImage: { url: "/images/P-adidas/p-adidas1.webp" },
    link: "/products/p_adidas",
  },

  {
  id: "19",
  title: "Polo Mujer",
  brand: "Polos LaCoste",
  category: "mujer",
  featuredImage: { url: "/images/lacostemujer/lacoste2.webp  " },
  link: "/products/lacostemujer",
},

{
  id: "20",
  title: "Polo Mujer",
  brand: "Polos Guess",
  category: "mujer",
  featuredImage: { url: "/images/guessmujer/guess8.webp  " },
  link: "/products/guessmujer ",
},

{
  id: "21",
  title: "Polo Mujer",
  brand: "Polos Champion",
  category: "mujer",
  featuredImage: { url: "/images/championmujer/champion1.webp " },
  link: "/products/championmujer ",
},

{
  id: "22",
  title: "Polo Mujer",
  brand: "Polos Carolina Herrera",
  category: "mujer",
  featuredImage: { url: "/images/carolina/carolina1.webp  " },
  link: "/products/carolina ",
},

{
  id: "23",
  title: "Polo Mujer",
  brand: "Polos Calvin Klein",
  category: "mujer",
  featuredImage: { url: "/images/calvinmujer/calvin1.webp  " },
  link: "/products/calvinmujer ",
},



 
 
];
const featuredProducts = [
  {
    id: "1",
    title: "Polo BOSS",
    handle: "boos", // Solo el identificador del producto
    featuredImage: { url: "/images/boss-goat-white.webp", altText: "Camisa Elegante" },
    priceRange: { minVariantPrice: { amount: "ver precio", currencyCode: "" } },
    availableForSale: true,
    variants: [{ id: "1" }], // Agregar un ejemplo de variantes
  },
  {
    id: "2",
    title: "Polo BOSS",
    handle: "boos", // Solo el identificador del producto
    featuredImage: { url: "/images/boss-goat-black.webp", altText: "Pantal贸n Formal" },
    priceRange: { minVariantPrice: { amount: "ver precio", currencyCode: "" } },
    availableForSale: true,
    variants: [{ id: "2" }],
  },
];
---


<Base>
  {/* Secci贸n Hero */}
  <section>
    <div class="container">
      <div class="bg-gradient py-10 rounded-md">
        <HeroSlider products={heroProducts} client:load />
      </div>
    </div>
  </section>

  {/* Secci贸n de Polos */}
  <section id="polos" class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2>Polos para Hombres </h2>
      </div>
      <CollectionsSlider client:load collections={collectionProducts.filter(item => item.category === "hombre")} />
      </div>
  </section>

  {/* Secci贸n de Pantalones */}
  <section id="pantalones" class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2>Pantalones para Hombres </h2>
      </div>
      <CollectionsSlider client:load collections={collectionProducts.filter(item => item.title.includes("Pantal贸n"))} />
    </div>
  </section>

  {/* Secci贸n de Polos para Mujeres */}
<section id="polos-mujer" class="section">
  <div class="container">
    <div class="text-center mb-6 md:mb-14">
      <h2>Polos para Mujeres</h2>
    </div>
    <CollectionsSlider client:load collections={collectionProducts.filter(item => item.category === "mujer")} />
    </div>
</section>

  {/* Secci贸n de Productos Destacados */}
  <section>
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2 class="mb-2">Productos Destacados</h2>
        <p class="md:h5">Explora nuestras mejores ofertas de esta semana.</p>
      </div>
      <FeaturedProducts products={featuredProducts} />
    </div>
  </section>

  <CallToAction />
</Base>