---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import ProductCard from "../../components/ProductCard"; // Asegúrate de que esta ruta sea correcta

// Simulando los datos dinámicos de los productos de "THE NORTH FACE"
const products = [

{
    id: "1",
    title: "Polo Calvin Klein PinkLogo",
    description: "Polo con logo rosa de Calvin Klein",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
    "/images/calvinmujer/calvin2.jpg",
    "/images/calvinmujer/calvin1.webp",
    "/images/calvinmujer/calvin3.jpg",
    "/images/calvinmujer/calvin4.jpg",
    
    ],
  },

  
 
];
---

<Base title="Polo calvin klein para mujer ">
  <section class="py-10">
    <div class="container grid grid-cols-1 gap-10">
      {products.map((product) => (
        <ProductCard key={product.id} product={product} client:load />
      ))}
    </div>
  </section>

  
</Base>
