---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import ProductCard from "../../components/ProductCard"; // Asegúrate de que esta ruta sea correcta

// Simulando los datos dinámicos de los productos de "THE NORTH FACE"
const products = [

{
    id: "1",
    title: "Polo Champion Dama Pastel Blue Navi Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
    "/images/championmujer/champion1.webp",
    "/images/championmujer/champion2.jpg",
    "/images/championmujer/champion3.jpg",
    "/images/championmujer/champion4.jpg",
    
    ],
  },

  {
    id: "2",
    title: "Polo Champion Dama Pastel Green Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion5.jpg",
      "/images/championmujer/champion6.jpg",
      "/images/championmujer/champion7.jpg",
     

      
    ],
  },
  // prodycto nuevo
  
  {
    id: "3",
    title: "Polo Champion Champion Dama Brown Tea",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
    "/images/championmujer/champion8.jpg",
    "/images/championmujer/champion9.jpg",
    "/images/championmujer/champion10.jpg",
      
    ],
  },

  {
    id: "4",
    title: "Polo Champion Dama Sports Edition",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion11.jpg",
      "/images/championmujer/champion12.jpg",
      "/images/championmujer/champion13.jpg",
      
    ],
  },

  {
    id: "5",
    title: "Polo Champion Dama Black Blue Logo",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion14.webp",
      "/images/championmujer/champion15.webp",
      "/images/championmujer/champion16.webp",
      
    ],
  },

  {
    id: "6",
    title: "Polo Champion Dama Black Logo Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion17.webp",
      "/images/championmujer/champion18.webp",
      "/images/championmujer/champion19.webp",
      
    ],
  },

  {
    id: "7",
    title: "Polo Champion Dama Black Logo Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion20.webp",
      "/images/championmujer/champion21.webp",
      "/images/championmujer/champion22.webp",
      
    ],
  },

  {
    id: "8",
    title: "Polo Champion Dama Oval Clasico Logo",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion23.webp",
      "/images/championmujer/champion24.webp",
    ],
  },

  
  {
    id: "9",
    title: "Polo Champion Dama Pink Sweet",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion25.webp",
      "/images/championmujer/champion26.webp",
      "/images/championmujer/champion27.webp",
    ],
  },


  {
    id: "10",
    title: "Polo Champion Dama Pastel Logo Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion28.webp",
      "/images/championmujer/champion29.webp",
      "/images/championmujer/champion30.webp",
    ],
  },

  {
    id: "11",
    title: "Polo Champion Dama Coral logo Clasico",
    description: "",
    price: "S/ 50.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/championmujer/champion31.webp",
      "/images/championmujer/champion32.webp",
      "/images/championmujer/champion33.webp",
    ],
  },
  

];
---

<Base title="Polo champion para mujer ">
  <section class="py-10">
    <div class="container grid grid-cols-1 gap-10">
      {products.map((product) => (
        <ProductCard key={product.id} product={product} client:load />
      ))}
    </div>
  </section>

  
</Base>
