---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import ProductCard from "../../components/ProductCard"; // Asegúrate de que esta ruta sea correcta

// Simulando los datos dinámicos de los productos de "THE NORTH FACE"
const products = [



{
    id: "1",
    title: "Polo Hugo boxlogo blanco",
    description: "Polo con diseño de boxlogo en color blanco.",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/Hugo14.jpg",
      "/images/hugo/Hugo15.jpg",
      "/images/hugo/Hugo16.jpg",

    ],
  },
  {
    id: "2",
    title: "Polo Hugo boxlogo negro",
    description: "Polo con diseño de boxlogo en color negro.",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/Hugo11.webp",
      "/images/hugo/Hugo12.jpg",
      "/images/hugo/Hugo13.jpg",

    ],
  },
  // prodycto nuevo
 

  {
    id: "3",
    title: "Polo Hugo boxlogo nicot",
    description: "Polo con diseño de boxlogo en color nicot.",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/Hugo1.jpeg",
      "/images/hugo/Hugo2.jpeg",
      "/images/hugo/Hugo3.jpeg",

    ],
  },

  {
    id: "4",
    title: "Polo Hugo logo firma",
    description: "Polo con diseño de logo firma.",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/Hugo5.webp",
      "/images/hugo/Hugo6.webp",
      "/images/hugo/Hugo7.webp",

    ],
  },

  {
    id: "5",
    title: "Polo Hugo boxlogo random",
    description: "Polo con diseño de boxlogo random.",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/Hugo8.webp",
      "/images/hugo/Hugo9.webp",
      "/images/hugo/Hugo10.webp",

    ],
  },

  

  {
    id: "6",
    title: "Polo Hugo ",
    description: "",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/hugo-box1.webp",
      "/images/hugo/hugo-box2.webp",
      "/images/hugo/hugo-box3.webp",
      "/images/hugo/hugo-box4.webp",
      

    ],
  },

  {
    id: "6",
    title: "Polo Hugo Firma Vertical Black Estapa no bordado",
    description: "",
    price: "S/ 55.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/hugo/hubo-box5.webp",
      "/images/hugo/hubo-box6.webp",
      "/images/hugo/hubo-box7.webp",
      "/images/hugo/hubo-box8.webp",
    
    ],
  },
  

  
];
---

<Base title="Polo Hugo ">
  <section class="py-10">
    <div class="container grid grid-cols-1 gap-10">
      {products.map((product) => (
        <ProductCard key={product.id} product={product} client:load />
      ))}
    </div>
  </section>

  
</Base>
