---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import ProductCard from "../../components/ProductCard"; // Asegúrate de que esta ruta sea correcta

// Simulando los datos dinámicos de los productos de "Tommy H"
const products = [
  {
    id: "1",
    title: "Pantalón Levis Celeste",
    description: "",
    price: "S/ 120.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FFFFFF", "#000000", "#0000FF"], // Blanco, Negro, Azul
    images: [
      "/images/LEVIS1.webp",
      "/images/LEVIS2.jpg",
      "/images/LEVIS3.webp",
      
    ],
  },

  {
    id: "2",
    title: "Pantalón Levis Verde Oscuro",
    description: "",
    price: "S/ 120.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FFFFFF", "#000000", "#0000FF"], // Blanco, Negro, Azul
    images: [
      "/images/pantalon-levis/levisVerdeOscuro1.jpg",
      "/images/pantalon-levis/levisVerdeOscuro2.jpg",
      "/images/pantalon-levis/levisVerdeOscuro3.jpg",
      
    ],
  },

  {
    id: "3",
    title: "Pantalón Levis Azul Oscuro",
    description: "",
    price: "S/ 120.00",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FFFFFF", "#000000", "#0000FF"], // Blanco, Negro, Azul
    images: [
    "/images/pantalon-levis/LevisAzulOscuro1.webp",
    "/images/pantalon-levis/LevisAzulOscuro2.jpeg",
    "/images/pantalon-levis/LevisAzulOscuro3.webp",
    "/images/pantalon-levis/LevisAzulOscuro4.jpeg",

      
    ],
  },


  
 
];
---

<Base title="Pantalón Levis">
  <section class="py-10">
    <div class="container grid grid-cols-1 gap-10">
      {products.map((product) => (
        <ProductCard key={product.id} product={product} client:load />
      ))}
    </div>
  </section>

 
</Base>
