---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import ProductCard from "../../components/ProductCard"; // Asegúrate de que esta ruta sea correcta

// Simulando los datos dinámicos de los productos de "THE NORTH FACE"
const products = [
  {
    id: "1",
    title: "Polo Superme Who",
    description: "",
    price: "S/ 60.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/supreme3.webp",
      
      
    ],
  },

  {
    id: "2",
    title: "Polo Supreme Est 1994",
    description: "",
    price: "S/ 60.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/supreme5.webp",
    ],
  },

  {
    id: "3",
    title: "Polo Supreme Cross",
    description: "",
    price: "S/ 60.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/supreme11.webp",
      "/images/supreme12.jpg",

    ],
  },

  {
    id: "4",
    title: "Polo Supreme Cloud",
    description: "",
    price: "S/ 60.90",
    sizes: ["S", "M", "L", "XL"],
    colors: ["#FF0000", "#000000", "#00FF00"], // Rojo, Negro, Verde
    images: [
      "/images/supreme13.webp",
    ],
  },



 
];
---

<Base title="Polos Supreme">
  <section class="py-10">
    <div class="container grid grid-cols-1 gap-10">
      {products.map((product) => (
        <ProductCard key={product.id} product={product} client:load />
      ))}
    </div>
  </section>

  
</Base>
